@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<h2>SUCUK</h2>

<img src="https://media.gettyimages.com/id/154946197/photo/sausage-sucuk.jpg?s=2048x2048&w=gi&k=20&c=UVYfuzXOOkJa44uCMHft1v7dXx_1Pw_n4dKJShU5zB8=" alt="SUCUK" />
