@{
    ViewData["Title"] = "Home Page";
}

<section class="Hero"
         style="background-image: url('/pictures/hero.jpg'); background-size: cover; background-position: center; height: 400px; display: flex; align-items: center; justify-content: center; color: white; text-align: center;">
    <div class="hero-content">
        <svg viewbox="0 0 100 20">
            <defs>
                <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
                    <stop offset="15%" stop-color="#0f9efc" />
                    <stop offset="85%" stop-color="#123752" />
                </linearGradient>
                <pattern id="wave" x="0" y="0" width="120" height="40" patternUnits="userSpaceOnUse">
                    <path id="wavePath" d="M-40 9 Q-30 7 -20 9 T0 9 T20 9 T40 9 T60 9 T80 9 T100 9 T120 9 V20 H-40z" mask="url(#mask)" fill="url(#gradient)">
                        <animateTransform attributeName="transform"
                                          begin="0s"
                                          dur="1.5s"
                                          type="translate"
                                          from="0,0"
                                          to="40,0"
                                          repeatCount="indefinite" />
                    </path>
                </pattern>
            </defs>
            <text text-anchor="middle" x="50" y="15" font-size="19" fill="url(#wave)" fill-opacity="1">DIVE DEEP</text>
            <text text-anchor="middle" x="50" y="15" font-size="19" fill="url(#gradient)" fill-opacity="0.6">DIVE DEEP</text>
        </svg>
        <p style="font-size: 34px; text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);">Kvalitetsudstyr til alle dine dykkerbehov</p>
        <a href="/Produkter" class="btn btn-custom" style="margin-top: 20px; color:unset; padding: 10px 20px; font-size: 18px;">Shop Nu</a>
    </div>
</section>




<section class="about">
    <div class="about-text">
        <h2>Hvem er vi?</h2>
        <p>
            Vi startede Dive Deep for at dele vores passion for havet.
            Vores mål er at levere udstyr af høj kvalitet, så alle kan opleve magien under vandet –
            fra nybegyndere til professionelle dykkere.
        </p>
    </div>
</section>

<section class="mission">
    <h2>Produkter</h2>
    <div class="mission-grid">
        <div class="mission-box">
            <h3>BCD'er</h3>
        </div>
        <div class="mission-box">

            <h3>Dykkerdragter</h3>
        </div>
        <div class="mission-box">

            <h3>Tanke</h3>
        </div>
        <div class="mission-box">

            <h3>Regulatorsæt</h3>
        </div>
        <div class="mission-box">

            <h3>Maske/Snorkel</h3>
        </div>
        <div class="mission-box">

            <h3>Finner</h3>
        </div>
    </div>
</section>
