@{
    ViewData["Title"] = "Home Page";
}

<section class="about">
    <div class="about-text">
        <h2>Hvem er vi?</h2>
        <p>
            Vi startede Dive Deep for at dele vores passion for havet.
            Vores mål er at levere udstyr af høj kvalitet, så alle kan opleve magien under vandet –
            fra nybegyndere til professionelle dykkere.
        </p>
    </div>
</section>

<section class="mission">
    <h2>Produkter</h2>
    <div class="mission-grid">
        <div class="mission-box">
            <h3>BCD'er</h3>
        </div>
        <div class="mission-box">
            
            <h3>Dykkerdragter</h3>
        </div>
        <div class="mission-box">
            
            <h3>Tanke</h3>
        </div>
        <div class="mission-box">
            
            <h3>Regulatorsæt</h3>
        </div>
        <div class="mission-box">
            
            <h3>Maske/Snorkel</h3>
       </div>
        <div class="mission-box">
            
            <h3>Finner</h3>
        </div>
    </div>
</section>
