@model CartBooking

<section class="h-100 h-custom" style="background: linear-gradient(to right, #0f2027, #203a43, #2c5364);">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card" style="background-color: white;">
                    <div class="card-body p-4">

                        <div class="row">

                            <!-- Venstre side: Kurv -->
                            <div class="col-lg-7">
                                <h5 class="mb-3">
                                    <a href="#!" class="text-body">
                                        <i class="fas fa-long-arrow-alt-left me-2"></i>Tilbage til butikken
                                    </a>
                                </h5>
                                <hr>

                                <div class="d-flex justify-content-between align-items-center mb-4">
                                    <div>
                                        <p class="mb-1">Indkøbskurv</p>
                                        <p class="mb-0">Du har 4 ting i kurven</p>
                                    </div>
                                    <div>
                                        <p class="mb-0">
                                            <span class="text-muted">Sorter efter:</span>
                                            <a href="#!" class="text-body">Pris <i class="fas fa-angle-down mt-1"></i></a>
                                        </p>
                                    </div>
                                </div>

                                <!-- Kurv-elementer -->
                                <div class="card mb-3" style="background-color: white;">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row align-items-center">
                                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img1.webp"
                                                     class="img-fluid rounded-3" alt="Dykkermaske" style="width: 65px;">
                                                <div class="ms-3">
                                                    <h5>Dykkermaske</h5>
                                                    <p class="small mb-0">Navy Blue</p>
                                                </div>
                                            </div>
                                            <div class="d-flex flex-row align-items-center">
                                                <div style="width: 50px;"><h5 class="fw-normal mb-0">2</h5></div>
                                                <div style="width: 80px;"><h5 class="mb-0">300 dkk</h5></div>
                                                <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card mb-3" style="background-color: white;">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row align-items-center">
                                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img2.webp"
                                                     class="img-fluid rounded-3" alt="Gas tank" style="width: 65px;">
                                                <div class="ms-3">
                                                    <h5>Gas tank</h5>
                                                    <p class="small mb-0">Navy Blue</p>
                                                </div>
                                            </div>
                                            <div class="d-flex flex-row align-items-center">
                                                <div style="width: 50px;"><h5 class="fw-normal mb-0">2</h5></div>
                                                <div style="width: 80px;"><h5 class="mb-0">900 dkk</h5></div>
                                                <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card mb-3" style="background-color: white;">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row align-items-center">
                                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img3.webp"
                                                     class="img-fluid rounded-3" alt="Snorkel" style="width: 65px;">
                                                <div class="ms-3">
                                                    <h5>Snorkel</h5>
                                                    <p class="small mb-0">Onyx Black</p>
                                                </div>
                                            </div>
                                            <div class="d-flex flex-row align-items-center">
                                                <div style="width: 50px;"><h5 class="fw-normal mb-0">1</h5></div>
                                                <div style="width: 80px;"><h5 class="mb-0">500 dkk</h5></div>
                                                <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card mb-3 mb-lg-0" style="background-color: white;">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row align-items-center">
                                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img4.webp"
                                                     class="img-fluid rounded-3" alt="MacBook Pro" style="width: 65px;">
                                                <div class="ms-3">
                                                    <h5>MacBook Pro</h5>
                                                    <p class="small mb-0">1TB, Graphite</p>
                                                </div>
                                            </div>
                                            <div class="d-flex flex-row align-items-center">
                                                <div style="width: 50px;"><h5 class="fw-normal mb-0">1</h5></div>
                                                <div style="width: 80px;"><h5 class="mb-0">1799 dkk</h5></div>
                                                <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- Højre side: Checkout -->
                            <div class="col-lg-5">
                                <div class="card" style="background-color: #0f2027; color: white;">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center mb-4">
                                            <h5 class="mb-0">Kortoplysninger</h5>
                                        </div>

                                        <p class="small mb-2">Korttype</p>
                                        <a href="#!" class="text-white me-2"><i class="fab fa-cc-mastercard fa-2x"></i></a>
                                        <a href="#!" class="text-white me-2"><i class="fab fa-cc-visa fa-2x"></i></a>
                                        <a href="#!" class="text-white me-2"><i class="fab fa-cc-amex fa-2x"></i></a>
                                        <a href="#!" class="text-white"><i class="fab fa-cc-paypal fa-2x"></i></a>

                                        <form class="mt-4">
                                            <div class="form-outline form-white mb-4">
                                                <input type="text" id="kortNavn" class="form-control form-control-lg"
                                                       size="17" placeholder="Kortindehavers navn" />
                                                <label class="form-label" for="kortNavn">Fulde navn</label>
                                            </div>

                                            <div class="form-outline form-white mb-4">
                                                <input type="text" id="kortNummer" class="form-control form-control-lg"
                                                       size="19" placeholder="1234 5678 9012 3457" minlength="19" maxlength="19" />
                                                <label class="form-label" for="kortNummer">Kortnummer</label>
                                            </div>

                                            <div class="row mb-4">
                                                <div class="col-md-6">
                                                    <div class="form-outline form-white">
                                                        <input type="text" id="udloebsDato" class="form-control form-control-lg"
                                                               placeholder="MM/YYYY" size="7" minlength="7" maxlength="7" />
                                                        <label class="form-label" for="udloebsDato">Udløbsdato</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-outline form-white">
                                                        <input type="password" id="cvv" class="form-control form-control-lg"
                                                               placeholder="•••" size="3" minlength="3" maxlength="3" />
                                                        <label class="form-label" for="cvv">Cvv</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                        <hr class="my-4">

                                        <div class="d-flex justify-content-between">
                                            <p class="mb-2">Subtotal</p>
                                            <p class="mb-2">4798 dkk</p>
                                        </div>

                                        <div class="d-flex justify-content-between">
                                            <p class="mb-2">Leveringsmetode: Afhentning</p>
                                        </div>

                                        <div class="d-flex justify-content-between mb-4">
                                            <p class="mb-2">Total (inkl. moms)</p>
                                            <p class="mb-2">2000 dkk</p>
                                        </div>

                                        <button id="checkoutBtn" type="button" class="btn w-100 btn-lg" style="background-color: #2c5364; color: white;">
                                            <div class="d-flex justify-content-between">
                                                <span>2000 dkk</span>
                                                <span>Betal <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                                            </div>
                                        </button>


                                          <!-- Handelsbetingelser -->
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="form-check me-2">
                                                <input class="form-check-input" type="checkbox" id="acceptTerms">
                                                <label class="form-check-label" for="acceptTerms">
                                                    Jeg accepterer handelsbetingelserne
                                                </label>
                                            </div>
                                            <button type="button" class="btn btn-sm" style="background-color: #203a43; color: white;" data-bs-toggle="modal" data-bs-target="#termsModal">
                                                Læs handelsbetingelser
                                            </button>
                                        </div>


                                        <!-- Modal -->
                                        <div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="termsModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="termsModalLabel" style="color:black">Handelsbetingelser</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Luk"></button>
                                                    </div>
                                                    <div class="modal-body" style="color: black; font-family: Arial, sans-serif; line-height: 1.6;">
                                                        <h3>1. Generelle oplysninger</h3>
                                                        <p>
                                                            <strong>Virksomhedsnavn:</strong> Dive Deep<br>
                                                            <strong>CVR-nr.:</strong> 12345678<br>
                                                            <strong>Adresse:</strong> Danmarksvej 3<br>
                                                            <strong>Telefon:</strong> +45 12 34 56 78<br>
                                                            <strong>E-mail:</strong> kontakt@divedeep.dk<br>
                                                            <strong>Webshop:</strong> <a href="http://www.divedeep.dk">www.divedeep.dk</a>
                                                        </p>
                                                        <h3>2. Anvendelsesområde</h3>
                                                        <p>Betingelserne gælder for køb og leje af dykkerudstyr via webshoppen.</p>
                                                        <h3>3. Bestilling og betaling</h3>
                                                        <ul>
                                                            <li>Alle priser er i DKK inkl. moms.</li>
                                                            <li>Betaling kan ske med kort, bankoverførsel eller MobilePay.</li>
                                                            <li>Beløbet hæves først, når varen er afsendt eller lejeperioden starter.</li>
                                                        </ul>
                                                        <h3>4. Levering og afhentning</h3>
                                                        <ul>
                                                            <li>Købte varer sendes med transportør inden for [antal] hverdage.</li>
                                                            <li>Lejet udstyr afhentes i butikken eller sendes efter aftale.</li>
                                                        </ul>
                                                        <h3>5. Leje af udstyr</h3>
                                                        <ul>
                                                            <li>Udstyr lejes for en nærmere aftalt periode.</li>
                                                            <li>Lejer er ansvarlig for korrekt brug og opbevaring.</li>
                                                            <li>Udstyret skal returneres rengjort og i samme stand.</li>
                                                        </ul>
                                                        <h3>6. Depositum</h3>
                                                        <p>Der kan opkræves depositum på [beløb]. Depositum tilbagebetales ved rettidig returnering uden skader.</p>
                                                        <h3>7. Skader og ansvar</h3>
                                                        <ul>
                                                            <li>Lejer hæfter for bortkomst eller skader på udstyret, udover almindeligt slid.</li>
                                                            <li>Udstyr må kun anvendes af certificerede dykkere.</li>
                                                            <li>Virksomheden fraskriver sig ansvar for person- eller tingskade som følge af forkert brug.</li>
                                                        </ul>
                                                        <h3>8. Fortrydelsesret (kun køb, ikke leje)</h3>
                                                        <p>Der er 14 dages fortrydelsesret på købte varer. Fortrydelse gælder ikke for lejeaftaler, der er påbegyndt.</p>
                                                        <h3>9. Reklamationsret</h3>
                                                        <p>Køb er dækket af 2 års reklamationsret jf. købeloven.</p>
                                                        <h3>10. Lovvalg og værneting</h3>
                                                        <p>Handelsbetingelserne er underlagt dansk ret. Eventuelle tvister afgøres ved Odense byret.</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Luk</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <script>
                                            const checkoutBtn = document.getElementById("checkoutBtn");
                                            const checkbox = document.getElementById("acceptTerms");

                                            checkoutBtn.addEventListener("click", function (e) {
                                                if (!checkbox.checked) {
                                                    e.preventDefault();
                                                    alert("Du skal acceptere handelsbetingelserne før du kan fortsætte.");
                                                } else {
                                                    alert("Tak – du har accepteret handelsbetingelserne.");
                                                }
                                            });

                                        </script>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
